.navbar {
  margin: 0 auto;
  min-height: 80px;
  background-color: #2c3e50;
  display:flex;
  align-items: center;
  padding-top: 20px;
  border: 0px;
}

.navbar-toggle {
  position: relative;
  bottom: 10px;
}

.navbar-text-special {
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 7px;
}

.navbar-text-brand {
  color: white;
  font-weight: bold;
  font-size: 28px;
  line-height: 0px;
}

.navbar-text-special:hover {
  color: #18bc9c;
}

.navbar-text-brand:hover {
  color: #18bc9c;
}

.navbar-profile-picture {
  height: 32px !important;
  width: 32px;
  position:relative;
  bottom:10px;
}
